ЗавданняЖ Потрібно побудувати моделі SVM, Random Forest та інші. Вибрати найкращу. Зробити висновки. Визначити оптимальну кількість класетрів методом ліктя та методом силуетів. Візалізувати кластери методом середніх або будь-яким зручним методом.

Файл з даними завантажити з Kaggle за посиланням: https://www.kaggle.com/datasets/rabieelkharoua/students-performance-dataset?resource=download

In [2]:
import pandas as pd
import os

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
PATH = "../../data/students_performance"
fname = os.path.join(PATH, 'Student_performance_data _.csv')
df = pd.read_csv(fname)
df

      StudentID  Age  Gender  ...  Volunteering       GPA  GradeClass
0          1001   17       1  ...             0  2.929196         2.0
1          1002   18       0  ...             0  3.042915         1.0
2          1003   15       0  ...             0  0.112602         4.0
3          1004   17       1  ...             0  2.054218         3.0
4          1005   17       1  ...             0  1.288061         4.0
...         ...  ...     ...  ...           ...       ...         ...
2387       3388   18       1  ...             0  3.455509         0.0
2388       3389   17       0  ...             0  3.279150         4.0
2389       3390   16       1  ...             1  1.142333         2.0
2390       3391   16       1  ...             0  1.803297         1.0
2391       3392   16       1  ...             1  2.140014         1.0

[2392 rows x 15 columns]