In [9]:
import pandas as pd

# Source: Addressing Markeiting Bias in Product Recommendations - Mengting Wan, Jianmo Ni, Rishabh Misra, Julian McAuley - WSDM, 2020
# https://github.com/MengtingWan/marketBias
# https://github.com/Kal-Lemma/Clothes-Recommendation-System/blob/master/modcloth_final_data.json
# https://www.kaggle.com/code/agrawaladitya/step-by-step-data-preprocessing-eda/data
df = pd.read_json("../../data/recommendations/modcloth_final_data.json", lines=True)

In [10]:
df.head()

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width,review_summary,review_text
0,123373,29.0,7,5.0,d,38.0,34.0,new,36,5ft 6in,Emily,just right,small,991571,NaN,NaN,NaN,NaN
1,123373,31.0,13,3.0,b,30.0,36.0,new,NaN,5ft 2in,sydneybraden2001,just right,small,587883,NaN,NaN,NaN,NaN
2,123373,30.0,7,2.0,b,NaN,32.0,new,NaN,5ft 7in,Ugggh,slightly long,small,395665,9.0,NaN,NaN,NaN
3,123373,NaN,21,5.0,dd/e,NaN,NaN,new,NaN,NaN,alexmeyer626,just right,fit,875643,NaN,NaN,NaN,NaN
4,123373,NaN,18,5.0,b,NaN,36.0,new,NaN,5ft 2in,dberrones1,slightly long,small,944840,NaN,NaN,NaN,NaN

In [11]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 82790 entries, 0 to 82789
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   item_id         82790 non-null  int64
 1   waist           2882 non-null   float64
 2   size            82790 non-null  int64
 3   quality         82722 non-null  float64
 4   cup size        76535 non-null  str
 5   hips            56064 non-null  float64
 6   bra size        76772 non-null  float64
 7   category        82790 non-null  str
 8   bust            11854 non-null  str
 9   height          81683 non-null  str
 10  user_name       82790 non-null  str
 11  length          82755 non-null  str
 12  fit             82790 non-null  str
 13  user_id         82790 non-null  int64
 14  shoe size       27915 non-null  float64
 15  shoe width      18607 non-null  str
 16  review_summary  76065 non-null  str
 17  review_text     76065 non-null  str
dtypes: float64(5), int64(3), str(10)
memory usage: 11.4 MB

In [12]:
df = df[~df["user_id"].isna()]
df = df[~df["item_id"].isna()]
df = df[~df["quality"].isna()]
df = df[~df["review_text"].isna()]
df = df.reset_index()

In [13]:
len(df.item_id.unique())

1322

In [14]:
len(df.user_id.unique())

44811

In [15]:
len(df)

76000

# Неперсоналізовані рекомендаційні системи

Popularity-based recommender systems: Popularity-based recommenders work by suggesting the most frequently purchased products to customers. As the name suggests, Popularity based recommendation system works with the trend. It basically uses the items which are in trend right now.

## Frequency of purchase 
Popularity-based recommenders work by suggesting the most frequently purchased products to customers. This vague idea can be turned into at least two concrete implementations:

Check which articles are bought most often across all customers. Recommend these articles to each customer. 

Source: https://towardsdatascience.com/how-to-build-popularity-based-recommenders-with-polars-cc7920ad3f68#:~:text=Popularity%2Dbased%20recommenders%20work%20by,these%20articles%20to%20each%20customer.

In [17]:
items_popularity = df.groupby("item_id")["user_id"].count().sort_values(ascending=False)
items_popularity = items_popularity.reset_index()
items_popularity

      item_id  user_id
0      539980     2007
1      668696     1555
2      397005     1506
3      175771     1438
4      407134     1437
...       ...      ...
1317   617837        1
1318   631992        1
1319   628198        1
1320   626936        1
1321   626012        1

[1322 rows x 2 columns]

In [18]:
items_popularity.iloc[:3]["item_id"].to_list()

[539980, 668696, 397005]

In [21]:
import random
popular_items = items_popularity.iloc[:3]["item_id"].to_list()

def present_recommended_products(popular_items: list):
    print("**Currently trending products**")
    print("")

    for index, item_id_ in enumerate(popular_items):
        slice_df = df[df["item_id"] == item_id_]
        print(f"Recommended item {index+1}/{len(popular_items)}: product {item_id_}")

        category = slice_df["category"].unique()[0]
        print(f"{category=}")

        slice_with_reviews = slice_df[~slice_df["review_text"].isna()]
        review_for_slice = list(slice_with_reviews["review_text"].unique())
        if len(review_for_slice)>0:
            reviews = random.sample(review_for_slice, min(len(review_for_slice), 3))
            print(f"User reviews:")
            for review in reviews:
                print("-", review)
            print("...")
        else:
            print("There are no reviews for this product yet.")
        print("")

present_recommended_products(popular_items)

**Currently trending products**

Recommended item 1/3: product 539980
category='tops'
User reviews:
- I originally purchased this, as well as in red, both in medium. They seemed slightly big, so I ended up exchanging them for smalls... And the medium honey one was actually bigger than the small I received as an exchange. It was bizarre. Apparently the sizes are slightly inconsistent based on batch? Modcloth couldn't guarantee me a small that would be smaller than the medium I purchased. They offered to refund me but wouldn't exchange it again. Oh well. I opted to keep it but it's still a little big for me. It's a pretty color that goes with a lot of things, but a pain to care for.
- Super cute cardigan.
- I ordered this because I needed a go to mustard color sweater, the color is exactly what I wanted! I'm usually a medium, however, after reading the reviews ordered a large, which fits perfect. One thing I noticed is that one of the seams was sewn wrong (the end pokes out instead of inside the sweater), so I gave it 4 stars, otherwise the sweater is great!
...

Recommended item 2/3: product 668696
category='bottoms'
User reviews:
- This is the most wonderfully full skirt I've ever had the pleasure of owning! It sits right on my waist (~25). I'm 5' 4 and it barely comes past my knees. I can't speak enough praise for it!
- I love this skirt! it's swishy and it's twirly and any other y word. it's perfection
- Perfect for the price  cute, high waist and superbillowy...does wrinkle easy and takes a while to iron, but I always get compliments on it!!
...

Recommended item 3/3: product 397005
category='dresses'
User reviews:
- I have had my eye on this dress for quite a while. I finally broke down and bought it. I am very pleased that i did. It's super cute and the fabric is soft and comfy. I was also excited to find out that it had pockets!!! However my right pocket had a small hole in it. :( one thing I don't like about this dress is I think it is a tad bit too short for my liking. I have a fat butt so I appreciate longer skirts. All in all, I still love it.
- Too short! Please come out with this dress a couple inches longer! I ordered it to wear to work and I just couldn't do it.
- Awesome dress!! Fits perfectly and looks beautiful on. Quality is very good as well, polyester is always my choice.
...

# Content-based personalized systems

In [22]:
df.head()
df_reviews = df[["item_id", "review_text", "category"]][~df["review_text"].isna()]
df_reviews.head()

   item_id                                        review_text category
0   152702  I liked the color, the silhouette, and the fab...      new
1   152702  From the other reviews it seems like this dres...      new
2   152702  I love the design and fit of this dress!  I wo...      new
3   152702  I bought this dress for work  it is flattering...      new
4   152702  This is a very professional look. It is Great ...      new

In [23]:
len(df_reviews)

76000

In [ ]:
df_grouped = df_reviews.groupby(["item_id", "category"]).agg({'review_text': ' '.join}) # Group by item_id and concatenate reviews
df_grouped = df_grouped.reset_index()
df_grouped.head()

   item_id category                                        review_text
0   152702      new  I liked the color, the silhouette, and the fab...
1   153494      new  I wanted to fit in this dress so bad so I made...
2   153798      new  Unfortunately the fabric is soooo thin and wri...
3   154411      new  My only complaint is that people notice when I...
4   154882      new  Most of the other reviews said size up one but...

In [26]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

Creating recommendations based on TF-IDF score:

# TF-IDF (Term Frequency - Inverse Document Frequency)

$TFIDF$ score for term $i$ in document $j = TF(i,j) \cdot IDF(i)$

where
* **IDF** = Inverse Document Frequency
* **TF** = Term Frequency

$$TF(i,j) = \frac{\text{Term } i \text{ frequency in document } j}{\text{Total words in document } j}$$

$$IDF(i) = \log_2 \left( \frac{\text{Total documents}}{\text{documents with term } i} \right)$$

and
* $t$ = Term
* $j$ = Document

---

### General Formula

$$w_{i,j} = tf_{i,j} \times \log \left( \frac{N}{df_i} \right)$$

**Where:**
* $tf_{i,j}$ = number of occurrences of $i$ in $j$
* $df_i$ = number of documents containing $i$
* $N$ = total number of documents

---
**Source:** [Medium Article](https://medium.com/@imamun/creating-a-tf-idf-in-python-e43f05e4d424)

In [27]:
# TF-IDF Vectorization
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(df_grouped['review_text'])
tfidf_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 420695 stored elements and shape (1322, 22088)>

In [28]:
len(df_grouped['review_text'])

1322

In [29]:
pd.DataFrame(tfidf_matrix.toarray())

,0,1,2,3,4,5,6,7,8,9,...,22078,22079,22080,22081,22082,22083,22084,22085,22086,22087
0,0.001489,0.0,0.0,0.0,0.0016,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.001636,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1317,0.000949,0.0,0.0,0.0,0.0000,0.0,0.001298,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1318,0.000000,0.0,0.0,0.0,0.0000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1319,0.000000,0.0,0.0,0.0,0.0000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1320,0.000000,0.0,0.0,0.0,0.0000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1321,0.000000,0.0,0.0,0.0,0.0000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [30]:
tfidf_vectorizer.vocabulary_

{'liked': 10972,
 'the': 19327,
 'color': 4221,
 'silhouette': 17207,
 'and': 1434,
 'fabric': 7073,
 'of': 13143,
 'this': 19449,
 'dress': 6173,
 'but': 3253,
 'ruching': 16247,
 'just': 10353,
 'looked': 11200,
 'bunchy': 3188,
 'ruined': 16261,
 'whole': 21489,
 'thing': 19418,
 'was': 21178,
 'so': 17764,
 'disappointed': 5804,
 'really': 15414,
 'waned': 21119,
 'to': 19692,
 'like': 10971,
 'runs': 16283,
 'little': 11066,
 'small': 17583,
 'would': 21798,
 'need': 12635,
 'size': 17309,
 'up': 20643,
 'make': 11502,
 'it': 10080,
 'workappropriate': 21735,
 'from': 8011,
 'other': 13428,
 'reviews': 15992,
 'seems': 16695,
 'either': 6473,
 'works': 21756,
 'for': 7818,
 'your': 22023,
 'body': 2703,
 'type': 20212,
 'or': 13370,
 'doesn': 5978,
 'have': 8970,
 'waist': 21058,
 'flabby': 7543,
 'tummy': 20099,
 'is': 10058,
 'perfect': 14002,
 'me': 11738,
 'detail': 5615,
 'around': 1702,
 'front': 8017,
 'hides': 9154,
 'everything': 6827,
 'clingyness': 4058,
 'makes': 11507,
 'look': 11195,
 'curvier': 5111,
 'than': 19305,
 'usual': 20726,
 'material': 11669,
 'thick': 19385,
 'clings': 4056,
 'bum': 3164,
 'enough': 6668,
 'that': 19318,
 'when': 21442,
 'you': 22013,
 'walk': 21101,
 'jiggle': 10255,
 'shows': 17136,
 'through': 19522,
 'slit': 17540,
 'bit': 2517,
 'high': 9158,
 'not': 12922,
 'necessarily': 12615,
 'office': 13169,
 'appropriate': 1625,
 'without': 21649,
 'tights': 19617,
 'good': 8478,
 'with': 21644,
 'an': 1415,
 'occasion': 13104,
 'love': 11298,
 'design': 5580,
 'fit': 7492,
 'wore': 21729,
 'wedding': 21295,
 'comfortable': 4292,
 'all': 1255,
 'evening': 6797,
 'pretty': 14834,
 'in': 9664,
 'person': 14080,
 'too': 19740,
 'quality': 15191,
 'decent': 5348,
 'great': 8620,
 'sure': 18808,
 'how': 9433,
 'many': 11580,
 'washes': 21188,
 'will': 21554,
 'bought': 2851,
 'work': 21730,
 'flattering': 7602,
 'hits': 9268,
 'above': 846,
 'my': 12504,
 'knees': 10520,
 'am': 1355,
 'short': 17054,
 'at': 1823,
 'depending': 5528,
 'on': 13261,
 'adjust': 1025,
 'top': 19766,
 'can': 3401,
 'be': 2229,
 'low': 11335,
 'cut': 5135,
 'especially': 6755,
 'if': 9559,
 'torso': 19801,
 'thinner': 19434,
 'side': 17171,
 'should': 17100,
 'summer': 18693,
 'early': 6367,
 'fall': 7152,
 'underneath': 20374,
 'as': 1748,
 'well': 21359,
 'very': 20885,
 'professional': 14939,
 'simply': 17248,
 'tall': 19083,
 'wrap': 21821,
 'portion': 14588,
 'across': 968,
 'breast': 2950,
 'instead': 9900,
 'scooping': 16541,
 'under': 20343,
 'back': 2016,
 'someone': 17844,
 'height': 9076,
 'revealed': 15971,
 'butt': 3259,
 'cheek': 3766,
 'returning': 15959,
 'bummed': 3167,
 'thickness': 19392,
 'cap': 3428,
 'sleeves': 17470,
 'were': 21404,
 'longer': 11154,
 'exchanged': 6891,
 'even': 6795,
 'leggings': 10799,
 'ridiculous': 16051,
 'snagged': 17685,
 'went': 21402,
 'sale': 16364,
 'wanted': 21125,
 'ended': 6624,
 'see': 16685,
 'being': 2334,
 'lot': 11274,
 'people': 13980,
 'snug': 17741,
 'length': 10840,
 'didn': 5697,
 'much': 12400,
 'after': 1123,
 'reading': 15388,
 'ahead': 1171,
 'glad': 8380,
 'did': 5692,
 'hourglass': 9415,
 'pear': 13906,
 'shape': 16885,
 'soft': 17788,
 'stretchy': 18492,
 'green': 8648,
 'gorgeous': 8505,
 'minimizes': 12062,
 'any': 1533,
 'husband': 9495,
 'loved': 11301,
 'said': 16348,
 'one': 13263,
 'hot': 9398,
 'afraid': 1117,
 'might': 12000,
 'pill': 14221,
 'we': 21248,
 'll': 11094,
 'once': 13262,
 'washed': 21185,
 'few': 7357,
 'times': 19640,
 'showed': 17126,
 'every': 6817,
 'lump': 11383,
 'bump': 3172,
 'solid': 17822,
 'simple': 17241,
 'figure': 7395,
 'better': 2423,
 'dresses': 6187,
 've': 20806,
 'modcloth': 12178,
 'colour': 4248,
 'had': 8789,
 'potential': 14658,
 'tried': 19983,
 'could': 4790,
 'tell': 19222,
 'wasn': 21200,
 'curvy': 5117,
 'vavavoom': 20800,
 'plus': 14414,
 'kind': 10470,
 'chintzy': 3861,
 'return': 15955,
 'based': 2177,
 'some': 17839,
 'rave': 15355,
 'put': 15162,
 'okay': 13221,
 'true': 20028,
 '120': 79,
 'pounds': 14687,
 'ordered': 13392,
 'unflattering': 20441,
 'carry': 3523,
 'extra': 7024,
 'weight': 21332,
 'probably': 14906,
 'does': 5976,
 'job': 10275,
 'hiding': 9155,
 'added': 1004,
 'bulk': 3150,
 'isn': 10063,
 'actually': 989,
 'there': 19359,
 'also': 1329,
 'weird': 21341,
 'shoulders': 17106,
 'addition': 1009,
 '84': 766,
 'polyester': 14502,
 'hold': 9292,
 'onto': 13299,
 'bo': 2676,
 'washing': 21190,
 'got': 8518,
 '40ish': 570,
 'lower': 11341,
 'price': 14851,
 'falls': 7161,
 'below': 2361,
 'knee': 10509,
 'substantial': 18617,
 'made': 11444,
 'petite': 14108,
 'terrible': 19268,
 'bottom': 2840,
 'huge': 9450,
 'ok': 13219,
 'another': 1492,
 'mom': 12255,
 'who': 21486,
 'usually': 20729,
 'way': 21235,
 'tight': 19595,
 'unfornately': 20448,
 'nothing': 12944,
 'think': 19427,
 'more': 12316,
 'has': 8947,
 'larger': 10664,
 'breasts': 2957,
 'frumpy': 8040,
 'cute': 5138,
 'comfy': 4308,
 'style': 18585,
 'gotta': 8527,
 'drop': 6260,
 'before': 2305,
 'wearing': 21267,
 'comfortably': 4301,
 'fantastic': 7189,
 'hesitant': 9128,
 'buy': 3312,
 'because': 2275,
 'sheath': 16927,
 'flatter': 7599,
 'stature': 18257,
 'gave': 8241,
 'chance': 3684,
 'designed': 5583,
 'enhances': 6654,
 'curves': 5108,
 'obscures': 13081,
 'pudge': 15055,
 'area': 1658,
 'while': 21458,
 'quite': 15255,
 'get': 8307,
 'hemmed': 9104,
 'most': 12340,
 'rich': 16034,
 'goes': 8448,
 'nude': 13021,
 'shoes': 17036,
 'gold': 8459,
 'jewelry': 10250,
 'worn': 21772,
 'two': 20196,
 'weddings': 21299,
 'already': 1322,
 'ready': 15395,
 'show': 17120,
 'off': 13146,
 'holiday': 9299,
 'season': 16648,
 'amazing': 1365,
 'hit': 9262,
 'arm': 1677,
 'place': 14306,
 'beautiful': 2259,
 'pleats': 14374,
 'stand': 18189,
 'sitting': 17294,
 'down': 6078,
 'they': 19379,
 'still': 18332,
 'manage': 11532,
 'thicker': 19387,
 'which': 21453,
 'durable': 6327,
 'yet': 21985,
 'light': 10939,
 'total': 19815,
 'mistake': 12139,
 'wear': 21258,
 'large': 10651,
 'puff': 15058,
 'seam': 16631,
 'where': 21446,
 'looks': 11206,
 'shoulder': 17102,
 'pads': 13663,
 'additionally': 1011,
 'know': 10552,
 'shorter': 17066,
 'super': 18727,
 'long': 11147,
 'mid': 11919,
 'shin': 16980,
 'chose': 3890,
 'been': 2298,
 'tags': 19051,
 'are': 1657,
 'no': 12782,
 'choice': 3870,
 'keep': 10407,
 'exactly': 6856,
 'what': 21423,
 'nice': 12717,
 'its': 10121,
 'bust': 3227,
 'right': 16056,
 'piece': 14198,
 'closet': 4089,
 'years': 21958,
 'legs': 10821,
 'out': 13450,
 'pantyhose': 13756,
 'boots': 2799,
 'worth': 21788,
 'purchase': 15112,
 'vneck': 20980,
 'second': 16665,
 'time': 19632,
 'colours': 4253,
 'now': 13001,
 'go': 8434,
 'hard': 8921,
 'pull': 15075,
 'over': 13502,
 'chest': 3794,
 'definitely': 5437,
 'slip': 17531,
 'spanx': 17957,
 're': 15369,
 'dont': 6022,
 'want': 21124,
 'surprised': 18823,
 'mostly': 12343,
 'about': 845,
 'sad': 16320,
 'hoping': 9370,
 'event': 6803,
 'coming': 4320,
 'xl': 21890,
 'clothes': 4100,
 'decided': 5355,
 'spring': 18095,
 'talked': 19077,
 'issues': 10073,
 'putting': 15164,
 'felt': 7330,
 'sausage': 16441,
 'last': 10678,
 'curve': 5102,
 'needed': 12637,
 'bad': 2048,
 'itself': 10122,
 'dark': 5243,
 'noticeably': 12949,
 'colorful': 4232,
 'guess': 8733,
 'model': 12201,
 'comes': 4282,
 'thigh': 19402,
 'those': 19470,
 'less': 10872,
 'sigh': 17190,
 'only': 13286,
 'stunning': 18572,
 'flatters': 7610,
 'although': 1346,
 'unforgiving': 20447,
 'backside': 2037,
 'then': 19353,
 'cocktails': 4162,
 'fancy': 7181,
 'functions': 8088,
 'feel': 7315,
 'instantly': 9898,
 'wait': 21091,
 'occasions': 13108,
 'awesome': 1970,
 'skin': 17369,
 'underwear': 20406,
 'seams': 16638,
 'million': 12024,
 'consider': 4553,
 'buying': 3315,
 'different': 5714,
 'colors': 4238,
 'cool': 4681,
 'give': 8374,
 'thought': 19479,
 'feels': 7321,
 'absolutely': 863,
 'fitted': 7509,
 'reminds': 15716,
 'scrubs': 16602,
 'find': 7424,
 'initially': 9819,
 'superb': 18732,
 'unfortunately': 20454,
 'wears': 21269,
 'started': 18227,
 'chic': 3814,
 'since': 17252,
 '2012': 279,
 'four': 7913,
 'compliments': 4430,
 'whenever': 21444,
 'fluctuated': 7733,
 'between': 2430,
 '135165': 121,
 'during': 6330,
 'sizes': 17322,
 'middle': 11939,
 'range': 15319,
 'such': 18637,
 'goto': 8524,
 'thrown': 19532,
 'blazer': 2569,
 'cardigan': 3471,
 'night': 12743,
 'weather': 21280,
 '40': 549,
 'things': 19422,
 'maybe': 11727,
 'items': 10103,
 'stuck': 18543,
 'staple': 18202,
 'wardrobe': 21134,
 'heavier': 9048,
 'formfitting': 7881,
 'extremely': 7043,
 'anyone': 1541,
 'anything': 1545,
 'resembling': 15827,
 'proportions': 14996,
 'matter': 11709,
 'say': 16456,
 'again': 1133,
 'whatever': 21425,
 'ultimately': 20258,
 'meh': 11805,
 'draped': 6130,
 'hung': 9483,
 'weirdly': 21347,
 'worried': 21776,
 'wouldn': 21801,
 'fill': 7409,
 'problems': 14913,
 'come': 4279,
 'by': 3320,
 'wow': 21811,
 'weirdness': 21349,
 'stomach': 18365,
 'self': 16713,
 'conscious': 4544,
 'classy': 4004,
 'sexy': 16855,
 'watch': 21214,
 'girls': 8363,
 'though': 19474,
 'tends': 19250,
 'run': 16273,
 'helps': 9094,
 'sort': 17900,
 'magical': 11461,
 'overly': 13560,
 'however': 9435,
 'noting': 12959,
 'petites': 14111,
 'sits': 17293,
 'awkward': 1981,
 'may': 11726,
 'expected': 6952,
 'intimidating': 9978,
 'zippers': 22072,
 'buttons': 3298,
 'deciding': 5358,
 'lady': 10609,
 'song': 17863,
 'holds': 9295,
 'special': 17983,
 'heart': 9019,
 'happy': 8915,
 'lookout': 11205,
 'klaxons': 10501,
 'brand': 2921,
 'future': 8125,
 'reviewers': 15989,
 'keeps': 10414,
 'slim': 17511,
 'adding': 1008,
 'truly': 20035,
 '34': 444,
 '25': 329,
 '115lbs': 66,
 'complaint': 4400,
 'rather': 15343,
 'thin': 19415,
 'ideal': 9544,
 'nevertheless': 12692,
 'classier': 3994,
 'fancied': 7177,
 'pleasant': 14358,
 'confident': 4504,
 'belly': 2353,
 'going': 8456,
 'stay': 18260,
 'flat': 7582,
 'day': 5279,
 'spandex': 17948,
 'worked': 21741,
 'date': 5264,
 'nights': 12751,
 'generally': 8272,
 'do': 5962,
 'rearranging': 15426,
 'squish': 18144,
 'chested': 3798,
 'sizing': 17331,
 'split': 18049,
 'sew': 16840,
 'inch': 9688,
 'trouble': 20016,
 'overall': 13506,
 'trying': 20048,
 'miss': 12125,
 'voluminous': 20994,
 'amount': 1395,
 'leaving': 10780,
 'saggy': 16345,
 'bits': 2523,
 'created': 4928,
 'disguised': 5855,
 'hips': 9245,
 'uncomfortably': 20325,
 'dull': 6306,
 'jewellike': 10248,
 'forest': 7839,
 'hoped': 9365,
 'returned': 15958,
 'originally': 13414,
 'year': 21954,
 'older': 13231,
 'sister': 17277,
 'expecting': 6956,
 'kept': 10424,
 'anyway': 1550,
 'mainly': 11487,
 'forgot': 7865,
 'lost': 11273,
 'reason': 15428,
 'dear': 5322,
 'school': 16511,
 'friend': 7988,
 'month': 12292,
 'half': 8819,
 'ago': 1153,
 'perfectly': 14017,
 'tad': 19043,
 'upper': 20664,
 'rib': 16020,
 'cage': 3340,
 'problem': 14908,
 'sometimes': 17852,
 'versatile': 20859,
 'finally': 7420,
 'getting': 8313,
 'classic': 3989,
 'smooths': 17667,
 'bumps': 3176,
 '11': 52,
 'don': 6011,
 'become': 2277,
 'favorite': 7260,
 'barely': 2154,
 'machine': 11428,
 'washable': 21181,
 'zipper': 22069,
 'unwrap': 20628,
 'slides': 17491,
 'fits': 7505,
 'perfection': 14013,
 'gathers': 8229,
 'careful': 3500,
 'lines': 11020,
 'seamless': 16635,
 'cinched': 3937,
 'highlights': 9179,
 'bucks': 3106,
 'deep': 5396,
 'lustrous': 11402,
 'skirt': 17399,
 'rode': 16142,
 'reminiscent': 15717,
 '40s': 573,
 'fun': 8079,
 'wish': 21627,
 'crossover': 5008,
 'shifts': 16970,
 'making': 11511,
 'preferred': 14761,
 'otherwise': 13434,
 'easy': 6390,
 'wondering': 21689,
 'live': 11081,
 'europe': 6790,
 'hassle': 8951,
 'waiting': 21094,
 'exchange': 6890,
 'wrong': 21871,
 'somehow': 17843,
 'spot': 18074,
 'tailor': 19057,
 'stops': 18378,
 'keeper': 10408,
 'girl': 8351,
 'case': 3545,
 'boobs': 2758,
 'suffocated': 18662,
 'rippling': 16089,
 'construction': 4585,
 'beautifully': 2261,
 'hugging': 9455,
 'skimming': 17364,
 'nicely': 12723,
 'everywhere': 6832,
 'else': 6544,
 'modest': 12218,
 'events': 6806,
 'hours': 9421,
 'pairs': 13685,
 'ruched': 16245,
 'stitching': 18350,
 'apart': 1562,
 'folds': 7785,
 'according': 938,
 'chart': 3722,
 'read': 15382,
 'sized': 17315,
 'medium': 11780,
 'snuggly': 17754,
 'picture': 14189,
 'received': 15462,
 'multiple': 12438,
 'recommend': 15495,
 'oddly': 13130,
 'layer': 10723,
 'try': 20046,
 'lay': 10720,
 'cleavage': 4026,
 'central': 3647,
 'hmmm': 9275,
 'sending': 16763,
 'slight': 17496,
 'bunching': 3187,
 'slightly': 17499,
 'wider': 21527,
 'fantastically': 7191,
 'replace': 15766,
 'ruby': 16243,
 'big': 2457,
 'ran': 15314,
 'forgiveness': 7858,
 'reminded': 15714,
 'cheap': 3736,
 'comforter': 4302,
 'synthetic': 19012,
 'shame': 16876,
 'formal': 7870,
 'creates': 4929,
 'seemed': 16691,
 'same': 16381,
 'lovely': 11319,
 'expect': 6948,
 'stretchier': 18488,
 'suit': 18676,
 'elasticity': 6485,
 'draping': 6138,
 'appealing': 1584,
 'abdominal': 826,
 'fine': 7430,
 'online': 13283,
 'review': 15982,
 'pictures': 14193,
 'dressy': 6223,
 'almost': 1310,
 'cotton': 4778,
 'expensive': 6965,
 'literally': 11058,
 'best': 2407,
 'ever': 6808,
 'life': 10926,
 'hesitating': 9133,
 'regret': 15625,
 'swear': 18888,
 'wonderfully': 21687,
 'flaws': 7625,
 'something': 17848,
 'rucheing': 16246,
 'delicate': 5472,
 'far': 7195,
 'normal': 12900,
 'slimmer': 17518,
 'extended': 7007,
 'passed': 13829,
 'into': 9979,
 'climates': 4041,
 'humidity': 9470,
 'im': 9591,
 'fan': 7174,
 'nylony': 13055,
 'repeated': 15756,
 'washings': 21192,
 'lear': 10765,
 'shaped': 16887,
 'forgiving': 7860,
 'obviously': 13099,
 'breath': 2959,
 'days': 5287,
 'avoid': 1952,
 'glove': 8418,
 'spots': 18080,
 'smooth': 17659,
 'first': 7471,
 'walked': 21102,
 '20': 272,
 'several': 16837,
 'inches': 9690,
 'formed': 7877,
 'pooch': 14524,
 'help': 9086,
 'considered': 4557,
 'ordering': 13396,
 'tighter': 19602,
 'solve': 17834,
 'issue': 10069,
 'undercarriage': 20352,
 'higher': 9162,
 'unless': 20503,
 'take': 19064,
 'couple': 4815,
 'steps': 18293,
 'edging': 6424,
 'masking': 11642,
 'post': 14621,
 'baby': 2007,
 'fabulous': 7092,
 'neckline': 12627,
 'wonders': 21692,
 'start': 18225,
 'shed': 16930,
 'reviewcontest': 15983,
 'bra': 2893,
 'taller': 19084,
 'leg': 10791,
 'nearly': 12603,
 'sit': 17283,
 'directly': 5787,
 'furniture': 8106,
 'thanks': 19311,
 'talking': 19081,
 'customer': 5127,
 'service': 16815,
 'difference': 5712,
 'able': 835,
 'stuff': 18557,
 'next': 12711,
 'braless': 2916,
 'popping': 14572,
 'movement': 12383,
 'considering': 4558,
 'cost': 4757,
 'easier': 6379,
 'clingy': 4057,
 'everyone': 6822,
 'freak': 7943,
 'wonder': 21683,
 'head': 8995,
 'lol': 11137,
 'plan': 14321,
 'rehearsal': 15639,
 'dinner': 5766,
 'own': 13628,
 'october': 13123,
 'always': 1352,
 'wary': 21177,
 'complicated': 4421,
 'aline': 1250,
 'skirts': 17409,
 'worry': 21780,
 'normally': 12904,
 'adjusted': 1027,
 'conservative': 4550,
 'arrange': 1708,
 'revealing': 15972,
 'loge': 11129,
 'typically': 20220,
 'knit': 10532,
 'clothing': 4104,
 'largetoo': 10670,
 'hippy': 9242,
 'bustyand': 3248,
 'despite': 5598,
 'stretch': 18483,
 '810': 763,
 'finedefinitely': 7432,
 'smaller': 17590,
 'suck': 18638,
 'must': 12475,
 'bombshell': 2733,
 'vibe': 20899,
 'contrasted': 4636,
 'red': 15528,
 'hair': 8806,
 'jessica': 10237,
 'rabbit': 15263,
 'comments': 4336,
 'comfort': 4291,
 'standing': 18195,
 'rides': 16048,
 'largebreasted': 10653,
 '32ddd': 423,
 'somewhat': 17854,
 'difficult': 5723,
 'clean': 4012,
 'presentations': 14806,
 'absolute': 862,
 'website': 21291,
 'places': 14310,
 'dates': 5269,
 'taste': 19130,
 'alas': 1230,
 'nonetheless': 12830,
 'age': 1137,
 'real': 15399,
 'interview': 9970,
 'panic': 13735,
 'women': 21678,
 'attire': 1872,
 'boring': 2813,
 'stark': 18217,
 'opposite': 13351,
 'blew': 2597,
 'away': 1967,
 'farthest': 7208,
 'curvaceous': 5099,
 'actual': 986,
 'business': 3222,
 'collarbone': 4198,
 'nervous': 12675,
 'point': 14453,
 'shapeless': 16889,
 'teacher': 19162,
 'wrestling': 21839,
 'match': 11662,
 'tugging': 20083,
 'here': 9117,
 'stays': 18264,
 'constricting': 4578,
 'lighter': 10944,
 'pictured': 14191,
 'setting': 16825,
 'center': 3640,
 'heels': 9069,
 'highly': 9182,
 'seeking': 16689,
 'polished': 14485,
 'smart': 17615,
 'looking': 11204,
 'robotic': 16125,
 'skip': 17393,
 'emerald': 6573,
 'move': 12379,
 'camouflage': 3391,
 'food': 7804,
 'babies': 2006,
 'rest': 15883,
 'similar': 17236,
 'hide': 9149,
 'silver': 17232,
 'black': 2533,
 'tstrap': 20061,
 'reasons': 15434,
 'why': 21502,
 'stars': 18223,
 'needs': 12646,
 'struggle': 18534,
 'deodorant': 5523,
 'makeup': 11509,
 'smudging': 17673,
 'hand': 8857,
 'wash': 21180,
 'pills': 14235,
 'sooner': 17874,
 'came': 3373,
 'hidden': 9148,
 'took': 19747,
 'pleat': 14369,
 'level': 10901,
 'gem': 8264,
 'thinking': 19428,
 'both': 2829,
 'play': 14347,
 'officemuch': 13173,
 'suited': 18681,
 'girlit': 8361,
 'impressed': 9647,
 'curvey': 5110,
 'pearshaped': 13916,
 'texture': 19292,
 'immediately': 9608,
 'dream': 6158,
 'hopes': 9369,
 'riding': 16053,
 'risky': 16099,
 'aren': 1662,
 'jawdropping': 10191,
 'won': 21682,
 'garment': 8207,
 'forewarned': 7847,
 'xs': 21912,
 '02': 4,
 'listen': 11049,
 'myself': 12510,
 'technically': 19185,
 'exchanging': 6893,
 ...}

In [31]:
# Compute cosine similarity between user input and items
user_input = 'Knee-long skirt made of silk'
user_tfidf=tfidf_vectorizer.transform([user_input])
user_df = pd.DataFrame(user_tfidf.toarray())
user_df

,0,1,2,3,4,5,6,7,8,9,...,22078,22079,22080,22081,22082,22083,22084,22085,22086,22087
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
tfidf_vectorizer.vocabulary_["silk"]

17211

In [33]:
user_df[tfidf_vectorizer.vocabulary_["silk"]]

0    0.726013
Name: 17211, dtype: float64

In [34]:
tfidf_vectorizer.idf_[tfidf_vectorizer.vocabulary_["silk"]]

np.float64(4.855452653939752)

In [35]:
cosine_similarities = linear_kernel(user_tfidf, tfidf_matrix).flatten()
cosine_similarities

array([0.04200172, 0.04524237, 0.        , ..., 0.02718421, 0.03061408,
       0.04886547], shape=(1322,))

In [36]:
# Get indices of items sorted by similarity
top_n = 3
item_indices = cosine_similarities.argsort()[:-top_n-1:-1]
print("indices:", item_indices)
#Get recommended item names
recommendations = df_grouped['item_id'].iloc[item_indices].tolist()
print("item_ids:", recommendations)

indices: [ 915 1105 1133]
item_ids: [605558, 701811, 714723]

In [37]:
def content_based_recommender(df, user_input, top_n=3):
    """ 
    Content-based recommender system using TF-DF.

    Parameters:
    - df: pandas DataFrame with 'item_id' and 'review_text' columns.
    - user_input: textual input representing user preferences.
    -top_n: number of top items to recommend.

    Returns:
    - recommendations: a list of top_n recommended item names.
    """

    # Combine relevant text features into a single string
    df['text_features'] = df['category']+' '+df['review_text']

    # TF-IDF Vectorization
    tfidf_vectorizer = TfidfVectorizer()
    tfidf_matrix = tfidf_vectorizer.fit_transform(df['text_features'])

    # Compute cosine similarity between user input and items
    user_tfdf = tfidf_vectorizer.transform([user_input])
    cosine_similarities = linear_kernel(user_tfdf, tfidf_matrix).flatten()

    # Get indices of items sorted by similarity
    item_indices = cosine_similarities.argsort()[:-top_n-1:-1]

    # Get recommended item names
    recommendations = df['item_id'].iloc[item_indices].to_list()

    return recommendations

# Example usage
user_preferences = 'Knee-long skirt made of silk'
recommended_products = content_based_recommender(df_grouped, user_preferences, top_n=3)
present_recommended_products(recommended_products)

**Currently trending products**

Recommended item 1/3: product 605558
category='tops'
User reviews:
- Very good quality. The fabric feels like silk. :)
- Just as pictured; soft material; looks and feels good quality. I usually wear an XL or L (I'm an apple shape) and got an L for this item and it fits well.
...

Recommended item 2/3: product 701811
category='bottoms'
User reviews:
- I liked the librarian look, with the plaid and strap details, however on, this skirt was not pretty.  I'm surprised at the cost with how cheaply made this skirt was.  I sent it back.  The length was great though, just wish it was a better quality.
- When I received this skirt, I was pleasantly surprised on the quality of the skirt. The buckle by the waist is a cute feature that makes the skirt unique. My only complaint is that the skirt is too long for my 5'4 stature. It reached about twothree inches above my ankles. Unfortunately, this skirt will be going back.
- The skirt is made very well but is comically long. I am only 4'10 so I expect things to be bigger on me but it goes to my ankles. The material is sturdy and thick but not like wool so it can be used in spring and early summer too. Overall a great find just very long.
...

Recommended item 3/3: product 714723
category='bottoms'
User reviews:
- I'm so glad I bought this skirt! The yellow is the perfect shade without looking too bright or too 70's. The pattern has enough colors in it that it can be matched with tops of many colors. The polyester is heavier than I expected, so it's great for Spring and is completely lined. My only complaint is that the fabric wrinkles fairly easily, but a warm iron takes the wrinkles right out. Keep in mind that this skirt fits at the natural waist, so you may need a small size than you normally wear. My hips are wide, so I normally wear a L, but my waist measurements put me at a M. I ordered the M and it fit perfectly! The length is pretty long, I'm 5'11 and it still hits me below the knee.
- This skirt is so flowy and comfy. It has a beautiful silk underlining as well. The fabric isn't breathable at all, but because it's so flowy it doesn't matter. The pockets are a bit small, but still can hold a small set of keys or something. I usually wear a medium in skirts like this, and this one does fit a little bigger but still fits well for the style. Not too big to where it falls off or anything. Love it!!
- I bought this last month and have worn it several times. The fabric is beautiful and my coworkers couldn't stop commenting on the mustard color and fabric. I really love this skirt, but the sizing is off. I have a 34 waist, and this skirt has about 1.52 too much fabric so won't sit at my natural waist. But I think a L would be too tight. Since it does run larger on me, I have to be conscience of righting the skirt as it shifts when I walk and the button closure likes to move to the front. Buying the blue in L and will see how it goes.
...

# Collaborative Filtering (Колаборативні рекомендаційні системи)

## Item-based filtering
Item-based collaborative filtering recommends items based on the similarity between items, particulary their past interractions with users

In [38]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Sample dataset (user_id, item_id, rating)
data = {'user_id': [1,1,2,2,3,3,4,4],
        'item_id':['A','B','A','C','C','D','B','D'],
        'rating':[5, 4,3,2,4,5,1,3]}

df_sample = pd.DataFrame(data)
df_sample

   user_id item_id  rating
0        1       A       5
1        1       B       4
2        2       A       3
3        2       C       2
4        3       C       4
5        3       D       5
6        4       B       1
7        4       D       3

In [39]:
# Pivot the DataFrame to create  a user-item matrix
user_item_matrix = df_sample.pivot_table(index='user_id', columns='item_id', values='rating', fill_value=0)
user_item_matrix

item_id    A    B    C    D
user_id
1        5.0  4.0  0.0  0.0
2        3.0  0.0  2.0  0.0
3        0.0  0.0  4.0  5.0
4        0.0  1.0  0.0  3.0

In [41]:
#Calculate cosine similarity between items
item_similarity = cosine_similarity(user_item_matrix.T)
item_similarity

array([[1.        , 0.83189033, 0.2300895 , 0.        ],
       [0.83189033, 1.        , 0.        , 0.12478355],
       [0.2300895 , 0.        , 1.        , 0.76696499],
       [0.        , 0.12478355, 0.76696499, 1.        ]])